[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pymongo = "*"
flask = "*"
flask-restplus = "*"
google-api-python-client = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
